livekit-agents
livekit-plugins-deepgram
livekit-plugins-openai
livekit-plugins-silero
python-dotenv
ctranslate2==4.6.0
simli-ai>=0.1.11
numpy
fastapi
uvicorn
httpx
livekit-agents[elevenlabs]~=1.0

aiortc>=1.11.0 # fixes video/rtx codec issue